@use "abstracts/tokens" as *
@use "abstracts/mixins/breakpoints" as breakpoint

.related-posts
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: $fluid-space-md

  @include breakpoint.max(md)
    grid-template-columns: 1fr

  .related-post
    margin-bottom: $space-none
