{%- assign posts = include.posts -%}

<section class="posts" aria-labelledby="posts-list-title">
  <h2 id="posts-list-title" class="visually-hidden">List of blog posts</h2>

  {% for post in posts %}
    <article class="card post-preview">
      <header class="card-header">
        <h2 class="card-title post-title" title="{{ post.title }}">
          <a href="{{ post.url | relative_url }}" class="card-link" aria-label="Read post: {{ post.title }}">
            {{ post.title | titleify }}
          </a>
        </h2>
        {% include posts/series.html %}
        {% if post.excerpt %}
          <div class="post-excerpt">{{ post.excerpt }}</div>
        {% endif %}
      </header>
      <div class="card-body">
        {% if post.description %}
          <div class="post-description" title="{{ post.description | escape }}">{{ post.description }}</div>
        {% endif %}
      </div>
      <footer class="card-footer">
        <div class="page-meta page-meta-primary">
          {% include pages/published-at.html item = post %}
          {% include pages/categories.html item = post %}
          {% include pages/read-time.html item = post %}
        </div>
      </footer>
    </article>
  {% endfor %}
</section>
