---
layout: page
---

<article class="post" itemscope itemtype="https://schema.org/BlogPosting" aria-labelledby="page-title">
  <meta itemprop="datePublished" content="{{ page.published_at | date_to_xmlschema }}">
  <meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">
  <meta itemprop="headline" content="{{ page.title }}">
  <meta itemprop="mainEntityOfPage" content="{{ page.url | absolute_url }}">

  <header class="post-header">
    {% if page.excerpt %}
      <div class="page-excerpt">
        {{ page.excerpt }}
      </div>
    {% endif %}

    <div class="page-meta page-meta-primary" role="group" aria-label="Post metadata">
      {% include posts/meta.html post = page %}
    </div>
  </header>

  <div class="post-layout">
    <div class="post-content" itemprop="articleBody">
      {{ content | anchorify_headings }}
    </div>

    {% toc %}
  </div>

  <div class="page-signoff">
    <p>I hope you found this post informative and helpful. It took a lot of work to create, and I’m thrilled to finally share it with the world. Thank you for reading. 💖</p>

    <div class="signoff-wave">
      {% svg wave-divider %}
    </div>
  </div>

  {%- include series/post-nav.html -%}

  <footer class="post-footer">
    <div class="page-meta page-meta-secondary" role="group" aria-label="Post metadata">
      {% include pages/categories.html item = page link = true %}
      {% include pages/tags.html item = page link = true %}
    </div>

    {% include changelog.html %}

    <div class="post-footer-content">
      <div class="copyright">
        This post is licensed under
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer">CC BY 4.0</a>
        by the author.
      </div>

      <section aria-labelledby="share-title">
        <h3 id="share-title" class="visually-hidden">Share this post</h3>
        {% include pages/share.html post = post %}
      </section>
    </div>
  </footer>

  {% include retro-counter.html %}
</article>

{% include posts/related.html %}
{%- include navigation.html -%}
