@use "abstracts/tokens" as *

details
  margin-block: $space-base

  summary
    display: flex
    align-items: center
    gap: $space-sm
    list-style: none
    cursor: pointer
    font-weight: $font-weight-medium

    .icon-plus
      width: $size-lg
      height: $size-lg

    &::-webkit-details-marker,
    &::marker
      display: none

    p
      margin: $space-none

  &[open]
    summary
      font-weight: $font-weight-semi-bold

  .content
    opacity: 0
    transform: translateY(-15px)
    will-change: transform, opacity

    &:not(:has(ul, ol))
      padding-left: calc($space-lg + $space-sm)
